<div class=" border-top border-dark shadow">
    <div class="container py-3 d-flex   justify-content-around">
        <div class="small">@ 2022 shrouk ziaDa , all rights reserved</div>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/shroukk.z" target="_blank" class="text-white">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/shroukk-zaida-9a9938200/" target="_blank" class="text-white">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/ShroukZiada" target="_blank" class="text-white">
                    <i class="fa-brands fa-github"> </i>
                </a>
            </li>
        </ul>
    </div>
</div>