<div class="container">
    <div class="page " style="height: 85vh;">
        <figure class="d-flex justify-content-center align-items-center m-auto">
            <div style="background: url(./assets/images/404.jpg) center no-repeat; width: 100%; height: 50vh;"></div>
        </figure>
        <figcaption class="text-center p-5 text-white">
            <h1>
                404
                <br> <span class="c-blue"> Page Not Found</span>
            </h1>
            <p>we are sorry but the page you are looking for does not Exist ...!</p>
        </figcaption>
    </div>
</div>