<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
    <div class="container">
        <a class="navbar-brand text-white" routerLink="/home">
            <img src="./assets/images/logo2.jpg" alt="nav-logo">
        </a>
        <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-transparent  ">
                <li class="nav-item text-white mt-2">
                    <a routerLink="./home" class="text-white text-decoration-none mt-5">Home</a>

                </li>
                <li class="nav-item  dropdown">

                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Free Games</a>
                    <ul class="dropdown-menu dropdown-menu custom-select__option p-3">
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/games', 'mmorpg']" #link data-api="mmorpg">mmorpg</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/games', 'shooter']" #link data-api="shooter">shooter</a >
                      </li>
                      <li>
                        <a class="dropdown-item text-white text-capitalize" [routerLink]="['/games', 'moba']"     #link   data-api="moba">moba</a   >
                      </li>
                      <li>
                        <a class="dropdown-item text-white text-capitalize"   [routerLink]="['/games', 'anime']"   #link  data-api="anime">anime</a >
                      </li>
                      <li>
                        <a class="dropdown-item text-white text-capitalize"   [routerLink]="['/games', 'battle-royale']" #link   data-api="battle-royale"   >battle royale</a >
                      </li>
                      <li>
                        <a class="dropdown-item text-white text-capitalize"   [routerLink]="['/games', 'strategy']"   #link   data-api="strategy">strategy</a >
                      </li>
                      <li>
                         <a class="dropdown-item text-white text-capitalize" [routerLink]="['/games', 'fantasy']"   #link   data-api="fantasy">fantasy</a >
                      </li>
                      <li>
                         <a class="dropdown-item text-white text-capitalize"  [routerLink]="['/games', 'sci-fi']"   #link   data-api="sci-fi">sci-fi</a >
                      </li>
                      <li>
                        <a  class="dropdown-item text-white text-capitalize" [routerLink]="['/games', 'card']"   #link   data-api="card">card games</a >
                      </li>
                      <li>
                        <a class="dropdown-item text-white text-capitalize" [routerLink]="['/games', 'racing']"   #link   data-api="racing">racing</a >
                      </li>
                      <li>
                        <a  class="dropdown-item text-white text-capitalize"  [routerLink]="['/games', 'fighting']"  #link  data-api="fighting">fighting</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/games', 'social']" #link data-api="social">social</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/games', 'sports']" #link data-api="sports">sports</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item   dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Browser Games</a>
                    <ul class="dropdown-menu dropdown-menu custom-select__option py-5 ">
                        <li>
                            <a class="dropdown-item  text-white text-capitalize" [routerLink]="['/browser', 'mmorpg']" #link data-api="mmorpg">Browser mmorpg</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'shooter']" #link data-api="shooter">browser shooter</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'moba']" #link data-api="moba">browser moba</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'anime']" #link data-api="anime">browser anime</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'battle-royale']" #link data-api="battle-royale">browser battle royale</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'strategy']" #link data-api="strategy">browser strategy</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'fantasy']" #link data-api="fantasy">browser fantasy</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'sci-fi']" #link data-api="sci-fi">browser sci-fi</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'card']" #link data-api="card">browser card games</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'racing']" #link data-api="racing">browser racing</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'fighting']" #link data-api="fighting">browser fighting</a >
                      </li>
                      <li>
                        <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'social']" #link data-api="social" >browser social</a >
                      </li>
                      <li>
                        <a class="dropdown-item text-white text-capitalize" [routerLink]="['/browser', 'sports']" #link data-api="sports" >browser sports</a >
                      </li>
                    </ul>
                  </li>
            </ul>



            <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center flex-row gap-4 gap-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white "  >
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                        </li>

                        <li class="nav-item" appNotlogin>
                            <a class="nav-link text-white ">
                                <i class="fa-solid fa-clone"></i>
                            </a>
                        </li>

                        <li *ngIf="!isLogin" class="nav-item  me-3 re" applogin>
                            <a class="nav-link text-white " href="javascript:void" routerLink="/auth/logIn">
                                Log In
                          </a>
                        </li>

                        <li *ngIf="isLogin" class="nav-item  me-3 re" appNotlogin (click)=" logOut()">
                            <a class="nav-link text-white " href="javascript:void">
                                 SignOut
                            </a>
                        </li>

                        <li *ngIf="!isLogin" class="nav-item  me-3 re" applogin>
                            <a class="nav-link text-white  cu-btn " href="javascript:void" routerLink="/auth/joinUs">
                                 Join Free
                             </a>
                        </li>
                    </ul>
        </div>
    </div>
</nav>
